@model int

@{
	<a asp-action="Details" asp-route-id="@Model" class="btn btn-sm btn-outline-primary" id="crud"
	   role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
		<i class="bi bi-search"></i>
	</a>
	<a asp-action="Edit" asp-route-id="@Model" class="btn btn-sm btn-outline-success"
	   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
		<i class="bi bi-pencil-square"></i>
	</a>
	<a asp-action="Delete" asp-route-id="@Model" class="btn btn-sm btn-outline-danger"
	   role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
		<i class="bi bi-x-lg"></i>
	</a>
}