@model int

@{
	<a asp-action="Edit" asp-route-id="@Model" class="btn btn-sm btn-outline-secondary"
	   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
		&#x270D;
	</a>
	<a asp-action="Details" asp-route-id="@Model" class="btn btn-sm btn-outline-secondary"
	   role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
		&#x1F50E;
	</a>
	<a asp-action="Delete" asp-route-id="@Model" class="btn btn-sm btn-outline-secondary"
	   role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
		&#x274C;
	</a>
}