@{
	if (ViewData["ActionName"].ToString() == "Create")
	{
		@:
		<div class="row form-footer">
			<div class="form-group col-md-6">
				<input type="submit" value="Create" id="btnSubmit" class="btn btn-primary" /> | <partial name="_BackToList" />
				@if (@ViewData["ControllerFriendlyName"].ToString() == "Director" || @ViewData["ControllerFriendlyName"].ToString() == "Chapter" || @ViewData["ControllerFriendlyName"].ToString() == "Rehearsal" ||
					@ViewData["ControllerFriendlyName"].ToString() == "Event" || @ViewData["ControllerFriendlyName"].ToString() == "Volunteer" || @ViewData["ControllerFriendlyName"].ToString() == "Shift")
				{
					@: |
					 <partial name="_FillFields" />
				}
			</div>
		</div>
	}
	else if (ViewData["ActionName"].ToString() == "Edit")
	{
		@:
		<div class="row form-footer">
			<div class="form-group col-md-6">
				<input type="submit" value="Save" id="btnSubmit" class="btn btn-primary" /> | <partial name="_BackToList" />
			</div>
		</div>
	}
	
}
