@{
	if (ViewData["ActionName"].ToString() == "Details")
	{
		@:<h1>@ViewData["ControllerFriendlyName"] Details</h1>
	}
	else if (ViewData["ActionName"].ToString() == "Index")
	{
		@:<h1>@ViewData["ControllerFriendlyName"]s</h1>
	}
	else if (ViewData["ActionName"].ToString() == "Delete" ||
				ViewData["ActionName"].ToString() == "Remove")
	{
		//Prepare the quesiton about deleting this record
		//Assume we do not have a summary property
		string summary = "this " + ViewData["ControllerFriendlyName"];
		if (ViewData.ModelMetadata.Properties.FirstOrDefault(p => p.PropertyName == "Summary") != null)
		{
			// We do have a summary property.
			summary = Model.Summary.ToString();
		}

		@:<h1>@ViewData["ActionName"] @ViewData["ControllerFriendlyName"]</h1>
		<p>
			<h2>Are you sure you want to @(ViewData["ActionName"].ToString().ToLower()) @(summary)?</h2>
		</p>
	}
	else
	{
		@:<h1>@ViewData["ActionName"] @ViewData["ControllerFriendlyName"]</h1>
	}
}