@model IEnumerable<TomorrowsVoice_Toplevel.Models.Singer>

<br />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">List of Singers</h4>
	</div>
	<div class="panel-body scrollable-panel">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.NameFormatted)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Email)
					</th>

					<th>Parent</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							<a asp-action="Details" asp-controller="Singer" asp-route-ID="@item.ID" asp-route-chapterID="@ViewBag.ChapterID">
								@Html.DisplayFor(modelItem => item.NameFormatted)
							</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Email)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.EmergencySummary)
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>