@model IEnumerable<TomorrowsVoice_Toplevel.Models.Volunteering.Shift>

@{
    ViewData["Title"] = "DateShift";
}

<h1>Shifts</h1>
<form asp-action="DateShift" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VolunteersNeeded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteersNeeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
            </tr>
    }
        </tbody>
    </table>
<partial name="_PagingNavBar" />
</form>
