@model IEnumerable<TomorrowsVoice_Toplevel.Models.Volunteering.Shift>

@{
    ViewData["Title"] = "DateShift";
}
@{

    Layout = "~/Views/Shared/_EventVolunteerLayout.cshtml";

}
<h1>Shifts on @ViewData["Date"]</h1>
<form asp-action="DateShift" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VolunteersNeeded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteersLeft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                        @if(item.VolunteersLeft>0){<a asp-action="Details" asp-route-id=@item.ID>Sign Up</a>
                        }
                        else {}

                    
                </td>
            </tr>
    }
        </tbody>
    </table>
    <a asp-action="Index">Back to List</a>
<partial name="_PagingNavBar" />
</form>
