@model TomorrowsVoice_Toplevel.Models.Volunteering.Shift
@{

    Layout = "~/Views/Shared/_EventVolunteerLayout.cshtml";

}

<div style="display: grid; place-content: center;">
    <h1>Confirm Sign-Up</h1>
    <form asp-action="VolunteerShifts"
          asp-route-shiftID="@Model.ID"
          asp-route-volID="@ViewData["VolunteerID"]"
          method="post" class="form-container">
        <div class="form-area">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div style="margin-top: 10px">
                Are you sure you want to sign up for
                <strong>@Html.DisplayFor(Model => Model.Event.Name)</strong>
                from
                <strong>@Html.DisplayFor(model => model.StartAt)</strong>
                to
                <strong>@Html.DisplayFor(model => model.EndAt)</strong>
                ?
            </div>
        </div>
        <div class="form-footer">
            @Html.AntiForgeryToken()
            <input type="hidden" name="shiftID" value="@Model.ID" />
            <input type="hidden" name="volID" value="@ViewData["VolunteerID"]" />
            <button type="submit" class="btn btn-primary" id="btnSubmit">Sign Up</button>
            |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>

</div>
