@model TomorrowsVoice_Toplevel.Models.Volunteering.Shift



<h1>Confirm Sign-Up</h1>

<div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label" for="VolunteerID">Select a Volunteer:</label>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("VolunteerID", null, htmlAttributes: new { @class = "form-control", id = "VolunteerID" })
        </div>
    </div>
    <div>
        Are you sure you want to sign up for
        <strong>@Html.DisplayFor(Model => Model.Event.Name)</strong>
        from
        <strong>@Html.DisplayFor(model => model.StartAt)</strong>
        to
        <strong>@Html.DisplayFor(model => model.EndAt)</strong>
        ?
    </div>
    <a asp-action="SignUp" asp-route-volID="" asp-route-id="@Model.ID">Sign Up</a>
    
    
    
    
@*     <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteersNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteersNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
    </dl> *@
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    document.getElementById("SignUp").addEventListener("click", function (e)
        {

        });
</script>
