@model TomorrowsVoice_Toplevel.Models.Volunteering.Shift



<h1>Confirm Sign-Up</h1>

<div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label" for="VolunteerID">Select a Volunteer:</label>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("VolunteerID", null, "- Select a Volunteer", htmlAttributes: new { @class = "form-control", id = "VolunteerID" })
        </div>
    </div>
    <div>
        Are you sure you want to sign up for
        <strong>@Html.DisplayFor(Model => Model.Event.Name)</strong>
        from
        <strong>@Html.DisplayFor(model => model.StartAt)</strong>
        to
        <strong>@Html.DisplayFor(model => model.EndAt)</strong>
        ?
    </div>
    <p id="test">wowow</p>
    <a asp-action="test" asp-route-volID="" asp-route-id="@Model.ID" id="SignUp" onclick="setRouteParameter()">Sign Up</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    var dropDown = document.getElementById("VolunteerID");
    var signUpLink = document.getElementById("SignUp");
    var dropValue;
    dropDown.addEventListener("change", 
        () =>
        {
            dropValue = dropDown.value;
            
            //signUpLink.setAttribute(asp-route-volID, dropValue);
            document.getElementById("test").innerHTML = dropValue;
            
        });

    function setRouteParameter() {
        var newhref = $("#SignUp").attr('href') + '/' + dropValue;
        $("#SignUp").attr("href", newhref);
    }
</script>
