@model IEnumerable<TomorrowsVoice_Toplevel.Models.Volunteering.Shift>
@{
    var volunteer = ViewData["Volunteer"] as TomorrowsVoice_Toplevel.Models.Volunteering.Volunteer;

}
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Upcoming Shifts</h2>
    </div>

    <div class="panel-body scrollable-panel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ShiftDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Event)
                    </th>
                    <th>
                       Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {  @if (item.ShiftDate >= DateTime.Today)
                    {
                    <tr>
                        <td>
                            
                           @Html.DisplayFor(modelItem => item.ShiftDate)
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.Name)
                        </td>
                        <td>



@*                                 @if (item.ShiftDate < DateTime.Today.AddDays(7))
                                {
                                    <a class="btn btn-primary add"
                                       asp-controller="Volunteer"
                                       asp-action="EmailNotice"
                                       asp-route-volunteerId="@volunteer?.ID"
                                       asp-route-shiftId="@item.ID">
                                        Cancel Shift
                                    </a>
                                    
                                }
                                else
                                { *@
                                    <!-- Otherwise, render the active button -->
                                    <a class="btn btn-primary add"
                                    id="btnCancel"
                                       asp-controller="Volunteer"
                                       asp-action="SignOffShift"
                                       asp-route-volunteerId="@volunteer?.ID"
                                       asp-route-shiftId="@item.ID">
                                        Cancel Shift
                                    </a>
@*                                 } *@

                        </td>
                    </tr>
                }}
            </tbody>
        </table>
        <p style="color: red; background-color: #f8d7da; padding: 5px 10px; border-radius: 5px; border: 1px solid #f5c6cb; font-weight: bold; display: inline-block;" aria-live="assertive">
            Note: If your shift is cancelled within 7 days of the shift date, an email will be sent to the event manager.
        </p>
    </div>
</div>

@section Scripts{
    <script>
        $('#btnCancel').mouseover
    </script>
}
