@model TomorrowsVoice_Toplevel.Models.Volunteering.Volunteer
@{
	ViewData["Title"] = "Details";
}
<div class="d-flex align-items-center">
	<h1 class="me-auto">@Model.NameFormatted</h1>
	@{
		List<string>? UserRoles = ViewBag.UserRoles;
		<a asp-action="PromoteDemote" asp-route-id="@Model?.ID" class="btn btn-sm h-100 @((UserRoles.Contains("Planner") ? "btn-outline-danger" : "btn-outline-success"))">
			@if (UserRoles.Contains("Planner"))
			{
				@Html.Raw("Revoke Planner")
			}
			else
			{
				@Html.Raw("Assign Planner")
			}
		</a>
	}
	<a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-sm h-100 btn-outline-success mx-3">
		<i class="bi bi-pencil-square"></i> Edit
	</a>
</div>
<div>
	<hr/>
		<dl class="row">
			<div class="col">
				<dt class="text-muted fw-normal m-0">
					Full Name
				</dt>
				<dd>
				@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) @Html.DisplayFor(model => model.LastName)
				</dd>
			</div>
			<div class="col">
				<dt class="text-muted fw-normal m-0">
					Email
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Email)
				</dd>
			</div>
			<div class="col">
				<dt class="text-muted fw-normal m-0">
					Phone
				</dt>
				<dd>
					@Html.DisplayFor(model => model.PhoneFormatted)
				</dd>
			</div>
	</dl>
	<dl class="row">
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Total Time Worked
			</dt>
			<dd>
				@{
					if (Model.TotalWorkDuration.TotalMinutes <= 0)
						@Html.Raw("None")
					else
						@Html.Raw($"{Model.TotalWorkDuration.Days} Days {Model.TotalWorkDuration.Hours} Hours {Model.TotalWorkDuration.Minutes} Minutes ")
				}
			</dd>
		</div>
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Shifts Attended
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ParticipationCount)
			</dd>
		</div>
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Shifts Missed
			</dt>
			<dd>
				@Html.DisplayFor(model => model.absences)
			</dd>
		</div>
	</dl>
		@* 
			<div class="col-sm-2">
				<dt>
					@Html.DisplayNameFor(model => model.HoursVolunteered)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.HoursVolunteered)
				</dd>
			</div>
			<div class="col-sm-2">
				<dt>
					@Html.DisplayNameFor(model => model.ParticipationCount)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.ParticipationCount)
				</dd>
			</div>
			<div class="col-sm-2">
				<dt>
					@Html.DisplayNameFor(model => model.absences)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.absences)
				</dd>
			</div> *@
	
	<hr />
	<div id="ShiftsPanel"></div>
</div>
<div>
	<partial name="_BackToList" />
</div>
<style>
	.detail-group {
		border: 3px solid #dee2e6 !important;
		border-radius: 1rem;
		padding: 1rem;
		display: inline-flex;
	}
	.dcol {
		flex: 1 0 0%;
		display: flex !important;
		flex-wrap: wrap !important;
	}
</style>

@section Scripts {
	<script type="text/javascript">
		$('#ShiftsPanel').load('/Volunteer/ListOfShiftDetails/@Model.ID');
	</script>
} 