@model IEnumerable<TomorrowsVoice_Toplevel.Models.Volunteering.Volunteer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


    <a asp-action="DownloadVolunteers" class="btn btn-primary" style="float: right;">Export to Excel</a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameFormatted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.absences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursVolunteered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipationCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.NameFormatted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.absences)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HoursVolunteered)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipationCount)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
