@model TomorrowsVoice_Toplevel.Models.Volunteering.Shift
@{

    Layout = "~/Views/Shared/_EventAdminLayout.cshtml";

}
@{
    ViewData["Title"] = "Sign off";
}

<h1>Cancel  Shift</h1>
<div>
    <hr />
    Are you sure you want to sign off <strong>@Model.Event.Name shift</strong> on <strong>@Model.ShiftDate.ToLongDateString()</strong> from <strong>@Model.StartAt - @Model.EndAt</strong>?
@*     <dl class="row">
        <dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
    </dl> *@
    <p style="color: red; background-color: #f8d7da; padding: 5px 10px; border-radius: 5px; border: 1px solid #f5c6cb; font-weight: bold; display: inline-block; margin-top:10px;" aria-live="assertive">
        Note: If your shift is cancelled within 7 days of the shift date, an email will be sent to the event manager.
    </p>




    <form asp-action="SignOffShift">
        <input type="hidden" name="volunteerId" value="@ViewData["volunteerId"]" />
        <input type="hidden" name="shiftId" value="@Model.ID" />
        <input type="submit" value="Confirm" class="btn btn-danger" /> |
        <a href="javascript:history.back()">Back to List</a>
    </form>

</div>















