@model TomorrowsVoice_Toplevel.ViewModels.VolunteerVM

<partial name="_ViewHeading" />

<h3>Account for: @Model.NameFormatted</h3>

<div>
	<hr />
	<dl class="row">
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Full Name
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) @Html.DisplayFor(model => model.LastName)
			</dd>
		</div>
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Email
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>
		</div>
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Phone
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PhoneFormatted)
			</dd>
		</div>
	</dl>
	<dl class="row">
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Total Time Worked
			</dt>
			<dd>
				@{
					if (Model.TotalWorkDuration.TotalMinutes <= 0)
						@Html.Raw("None")
					else
						@Html.Raw($"{Model.TotalWorkDuration.TotalHours} Hours")
				}
			</dd>
		</div>
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Shifts Attended
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ParticipationCount)
			</dd>
		</div>
		<div class="col">
			<dt class="text-muted fw-normal m-0">
				Shifts Missed
			</dt>
			<dd>
				@Html.DisplayFor(model => model.absences)
			</dd>
		</div>
	</dl>
	<hr />
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.ID">Edit Account Details</a>
</div>