@model IEnumerable<TomorrowsVoice_Toplevel.ViewModels.MessageVM>

<div class="chat" @* style="display: flex;flex-direction: column-reverse;" *@>
	@foreach (var message in Model)
	{
		<div class="shadow-sm p-3 mb-2 bg-body rounded">
			@if (message.Avatar == null)
			{
				<i class="bi bi-person-circle" alt="Avatar" class="avatar"></i>
			}
			else
			{
				<img src="@message.Avatar" alt="Avatar" class="avatar">
			}
			<span class="fw-bold ms-2">@message.Name</span>
			<span class="timestamp">@message.CreatedOn.ToString("g")</span>
			<p class="mb-0">@message.Content</p>
		</div>
	}
	<form asp-action="SendMessage" method="post">
		<input type="hidden" name="shiftID" value="@ViewBag.ShiftID" />
		<input type="hidden" name="volunteerID" value="@ViewBag.volunteerID" />
		@* <input type="hidden" name="volunteerID" value="20" /> *@
		<div class="row">
			<div class="form-group col-4">
				<label for="content">Message</label>
				<input type="text" class="form-control" id="content" name="content" required />
			</div>
			@* <div class="form-group col-4">
				<label for="volunteerID">From Volunteer ID:</label>
				<input type="number" class="form-control" id="volunteerID" name="volunteerID" />
			</div>*@
			<div class="col-4 align-self-end"><button type="submit" class="btn btn-primary mt-2">Send</button></div>
		</div>
	</form>
</div>

<style>
	.chat {
		scroll-snap-type: y proximity;
	}

		.chat:last-child {
			scroll-snap-align: end !important;
		}

	.bg-body {
		background-color: #fff !important;
	}

	.avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		vertical-align: middle;
	}

	.timestamp {
		float: right;
		color: #aaa;
	}
</style>