@model TomorrowsVoice_Toplevel.Models.Volunteering.Shift

<partial name="_ViewHeading" />

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteersNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteersNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>