@model TomorrowsVoice_Toplevel.Models.Volunteering.Shift
@{

	Layout = "~/Views/Shared/_EventAdminLayout.cshtml";

}

<h1>@Model.Event.Name Shift</h1>
<strong>@Model.TimeSummary</strong>
<hr />

@{
	if (Model.VolunteersNeeded > Model.UserShifts.Count())
	{
		<div style="display: grid;">

			<form asp-action="ShiftSignUp" asp-route-shiftID="@Model.ID" asp-route-volID="VALUE_OF_VOLID" method="post" class="form-container">
				<div class="form-area">
					<h2>Confirm Sign-Up</h2>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">
						<div class="col-md-4">
							<label class="control-label" for="VolunteerID" style="margin-top: 7px">Select a Volunteer:</label>
						</div>
						<div class="col-md-4">
							@Html.DropDownList("VolunteerID", null, "- Select a Volunteer", htmlAttributes: new { @class = "form-control", id = "VolunteerID" })
						</div>
					</div>
					<div style="margin-top: 10px">
						Are you sure you want to sign up for
						<strong>@Html.DisplayFor(Model => Model.Event.Name)</strong>
						from
						<strong>@Html.DisplayFor(model => model.ShiftDate)</strong>
						to
						<strong>@Html.DisplayFor(model => model.EndAt)</strong>
						?
					</div>
				</div>
				<div class="form-footer">
					@Html.AntiForgeryToken()
					<input type="hidden" name="shiftID" value="@Model.ID" />
					<input type="hidden" name="volID" value="" id="volInput" />
					@if (Model.ShiftDate < DateTime.Today)
					{
						
						<button type="submit" class="btn btn-primary" disabled>Sign Up</button>
						<br />
						<p style="color: red; background-color: #f8d7da; padding: 5px 10px; border-radius: 5px; border: 1px solid #f5c6cb; font-weight: bold; display: inline-block;" aria-live="assertive">
							Note:You cannot join a shift that has already passed.
						</p>
					}
					else
					{
						<button type="submit" class="btn btn-primary" disabled id="btnSubmit">Sign Up</button>
						
					}
				</div>
			</form>
		</div>
	}
	else
	{
		<a disabled>No more volunteers needed</a>
	}
}

<label style="margin-top:15px">@Model.UserShifts.Count()/@Model.VolunteersNeeded Volunteer(s) Signed Up:</label>
<ul>
	@foreach (var v in Model.UserShifts)
	{
		<li>
			@v.User.NameFormatted
			@if (v.User is Director)
			{
				<span> - Director</span>
			}
		</li>
	}
</ul>

	




<div style="margin-top:15px">
	<a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
	<a href="javascript:history.back()">Back to List</a>
	<!--Link to sign up for this shift that only shows up if volunteers are needed-->
	
</div>

<script>
	// get elements
	var dropDown = document.getElementById("VolunteerID");
	var signUpLink = document.getElementById("SignUp");
	var submitButton = document.getElementById("btnSubmit");
	var dropValue;
	// set values when dropdown changed
	dropDown.addEventListener("change",
		() =>
		{
			dropValue = dropDown.value;
			console.log(dropValue);
			document.getElementById("volInput").value = dropValue;
			if (dropValue !== ""){
				submitButton.disabled = false;
			}
			else{
				submitButton.disabled = true;
			}
		});
</script>
