@model IEnumerable<TomorrowsVoice_Toplevel.Models.Volunteering.Shift>
@{

    Layout = "~/Views/Shared/_EventAdminLayout.cshtml";
    TomorrowsVoice_Toplevel.Models.Volunteering.Event events = (TomorrowsVoice_Toplevel.Models.Volunteering.Event)ViewBag.Event;
    ViewData["Title"] = ViewData["ControllerFriendlyName"];

}

<div>
    <!-- Nav tabs -->
    <nav>
        <div class="nav nav-pills" id="myTabs" role="tablist">
            <button class="nav-link active" id="Basic-Tab" data-bs-toggle="tab" data-bs-target="#BasicPanel"
                    type="button" role="tab" aria-controls="BasicPanel" aria-selected="true">
                Basic Details
            </button>
            <button class="nav-link" id="Shifts-Tab" data-bs-toggle="tab" data-bs-target="#ShiftsPanel"
                    type="button" role="tab" aria-controls="ShiftsPanel" aria-selected="false">
                Shifts
            </button>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" role="tabpanel" id="BasicPanel">
            <br />
            <partial name="_EventDetail" model="events" />
        </div>
        <div class="tab-pane fade ml-3" role="tabpanel" id="ShiftsPanel" aria-labelledby="Shifts-tab">
            <br />
            <form asp-action="Index" method="get">
                <input type="hidden" name="EventID" value="@events.ID" />
                <div class="form-horizontal my-3">
                    <div class="row align-items-center">
                        <h1 class="col m-0">@events.Name</h1>
                    </div>
                    <div class="row align-items-center">
                        <h2 class="col m-0">Shifts</h2>
                    </div>

                    <div class="col-md-3 ms-auto d-flex justify-content-between">
                        <a asp-action="Create" asp-route-EventID="@events.ID" class="btn btn-primary col-auto h-100" style="float: right;"></i> Add @ViewData["ControllerFriendlyName"]</a>
                        <a asp-action="CreateMany" asp-route-EventID="@events.ID" class="btn btn-primary col-auto h-100" style="float: right;"></i> Add Template Shifts </a>
                    </div>
                </div>


                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ShiftDate)
                            </th>
                            <th>
                                Shift Time
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VolunteersNeeded)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                Track Performance
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateFormat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TimeFormat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VolunteersLeft)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>

                                <td>
                                    @{
                                        bool condition = false;

                                        foreach (var d in item.UserShifts)
                                        {
                                            if (d.NoShow == true)
                                            {
                                                condition = true;
                                                continue;

                                            }
                                            else if (d.NoShow == false && d.EndAt - d.StartAt > TimeSpan.Zero)
                                            {
                                                condition = true;
                                                continue;

                                            }
                                            else
                                            {
                                                condition = false;
                                                break;
                                            }
                                        }
                                    }

                                    @if (condition)
                                    {
                                        <button type="button" class="btn btn-outline-primary trackPerformanceBtn"
                                                data-shiftid="@item.ID" data-bs-toggle="modal" data-bs-target="#performanceModal">
                                            Edit Performance
                                        </button>
                                    }

                                    else if (item.ShiftDate <= DateTime.Today)
                                    {
                                        <button type="button" class="btn btn-primary col-auto h-100 trackPerformanceBtn"
                                                data-shiftid="@item.ID" data-bs-toggle="modal" data-bs-target="#performanceModal">
                                            Track Performance
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary btn-secondary trackPerformanceBtn"
                                                data-shiftid="@item.ID" data-bs-toggle="modal" data-bs-target="#performanceModal"
                                                disabled>
                                            Track Performance
                                        </button>
                                    }

                                </td>
                                <td>
                                    @if (item.Status != Status.Archived)
                                    {
                                        <partial name="_CrudIcons" model="@item.ID" />
                                    }
                                    else
                                    {
                                        <partial name="_CrudIconsRecover" model="@item.ID" />
                                    }
                                </td>
                            </tr>


                        }
                    </tbody>
                </table>
                <partial name="_PagingNavBar" />
                <!-- Performance Tracking Modal -->
                <div class="modal fade" id="performanceModal" tabindex="-1" aria-labelledby="performanceModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="performanceModalLabel">Track Performance</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="performanceModalContent">
                                    <p class="text-center text-muted">Loading...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


@section Scripts {


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            $(document).on("click", ".trackPerformanceBtn", function () {
                let shiftId = $(this).data("shiftid");
                $("#performanceModalContent").html('<p class="text-center text-muted">Loading...</p>');

                $.get(`/Shift/TrackPerformance/${shiftId}`, function (data) {
                    $("#performanceModalContent").html(data);

                    if ($("#performanceModalContent #ShiftID").length === 0) {
                        $("#performanceModalContent").append(`<input type="hidden" id="ShiftID" value="${shiftId}" />`);
                    } else {
                        $("#performanceModalContent #ShiftID").val(shiftId);
                    }

                }).fail(function () {
                    console.error("❌ Error loading performance data.");
                    $("#performanceModalContent").html('<p class="text-danger">Error loading performance data. Please try again.</p>');
                });
            });



            $(document).on("click", "#savePerformance", function () {
                console.log("🔹 Save button clicked!");

                let shiftId = $("#ShiftID").val();
                if (!shiftId) {
                    console.error("❌ ShiftID is missing!");
                    alert("Error: ShiftID is missing.");
                    return;
                }

                let enrollments = [];
                $("#performanceTable tbody tr").each(function () {
                    let row = $(this);
                    let enrollment = {
                        UserID: row.find("input[name='UserID']").val(),
                        ShiftID: shiftId,
                        ShowOrNot: row.find("input[name='ShowOrNot']").prop("checked"),
                        StartAt: row.find("input[name='StartAt']").val() + ":00",
                        EndAt: row.find("input[name='EndAt']").val() + ":00"
                    };


                    enrollments.push(enrollment);
                });


                $.ajax({
                    url: "/Shift/UpdatePerformance",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(enrollments),
                    success: function (response) {
                        if (response.success) {
                            alert("Performance updated successfully.");
                            location.reload();
                        } else {
                            alert("Error: " + response.message);
                        }
                    },
                    error: function (xhr) {
                        console.error("❌ AJAX Error:", xhr.responseText);
                        alert("An error occurred while updating performance.");
                    }
                });
            });

        });
    </script>
}
