@model TomorrowsVoice_Toplevel.ViewModels.HomeAdminVM

<form asp-action="Index" method="get">
	<input type="hidden" name="timeHours" value="@ViewData["timeHours"]" />
	<input type="hidden" name="timeShifts" value="@ViewData["timeShifts"]" />
	<input type="hidden" name="dashaction"/>
	<section class="section dashboard">
		<div class="row">
			<!-- Left Side Column -->
			<div class="col-lg-8">
				<h2>Volunteers</h2>
				<div class="row">
					<!-- Volunteer Hours Card -->
					<div class="col-xxl-4 col-md-6">
						<div class="card admin-card info-card hours-card" style="padding: 0 !important;">
							<div class="card-body">
								<h5 class="card-title">
									Total Hours
									<button type="submit" name="dashaction" value="timeHours" asp-route-dashaction="timeHours" class="btn btn-link"> | @ViewData["timeHours"]</button>
								</h5>
								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-people-fill"></i>
									</div>
									<div class="ps-3">
										<h6>@(Model.VolunteerHours)</h6>

										@if (Model.VolunteerHours_Change == 0)
										{
											<span class="text-muted small pt-2 ps-1">No change</span>
										}
										else
										{
											<span class="text-@(Model.VolunteerHours_Change < 0 ? "danger" : "success") small pt-1 fw-bold">@(Model.VolunteerHours_Change)%</span> <span class="text-muted small pt-2 ps-1">@(Model.VolunteerHours_Change < 0 ? "decrease" : "increase")</span>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Shifts Filled Card -->
					<div class="col-xxl-4 col-md-6">
						<div class="card admin-card info-card hours-card" style="padding: 0 !important;">
							<div class="card-body">
								<h5 class="card-title">
									Shifts Filled
									<button type="submit" name="dashaction" value="timeShifts" asp-route-dashaction="timeShifts" class="btn btn-link"> | @ViewData["timeShifts"]</button>
								</h5>
								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-people-fill"></i>
									</div>
									<div class="ps-3">
										<h6>@(Model.VolunteerHours)</h6>

										@if (Model.ShiftsFilled_Change == 0)
										{
											<span class="text-muted small pt-2 ps-1">No change</span>
										}
										else
										{
											<span class="text-@(Model.ShiftsFilled_Change < 0 ? "danger" : "success") small pt-1 fw-bold">@(Model.ShiftsFilled_Change)%</span> <span class="text-muted small pt-2 ps-1">@(Model.ShiftsFilled_Change < 0 ? "decrease" : "increase")</span>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Left Side Column -->
			<!-- Right Side Column -->
			<div class="col-lg-4">
				<!-- Recent Activity -->
				<div class="my-4 card card_dash" style="padding: 0 !important;">
					<div class="card-body">
						<h5 class="card-title">Recent Activity <span>| This Month</span></h5>
						<div class="activity scrollable-activity">
							@foreach (var item in Model.Transactions)
							{
								string creatorUrl, itemUrl;
								if (item.ChangedByType == "Director")
									creatorUrl = Url.Action("Details", "Director", new { id = item.ChangedByID });
								else if (item.ChangedByType == "Volunteer")
									creatorUrl = Url.Action("Details", "Volunteer", new { id = item.ChangedByID });
								else
									creatorUrl = "#";

								itemUrl = Url.Action("Details", $"{item.ItemType}", new { id = item.ItemID });
								if (item.ItemType == "Event")
									itemUrl = Url.Action("Index", "Shift", new { EventID = item.ItemID });
								if (item.ChangeType == "DELETE")
									itemUrl = "#";

								<div class="activity-item d-flex">
									<div class="activity-label">
										@(item.TimeSince())
									</div>
									<i class="bi bi-circle-fill activity-badge text-@(item.ChangeType == "INSERT" ? "success" : item.ChangeType == "UPDATE" ? "warning" : "danger") align-self-start"></i>
									<div class="activity-content">
										<a href="@(creatorUrl)" class="fw-bold text-dark">@(item.ChangedBy)</a>@($" {(item.ChangeType == "INSERT" ? "created" : item.ChangeType == "UPDATE" ? "updated" : "deleted")} ") <a href="@(itemUrl)" class="fw-bold text-dark">@(item.Description)</a>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
				<!-- End Recent Activity -->
			</div>
		</div>
	</section>
</form>
<style>
	.dashboard .activity .activity-item .activity-label {
		color: #888;
		position: relative;
		flex-shrink: 0;
		flex-grow: 0;
		min-width: 64px;
	}

		.dashboard .activity .activity-item .activity-label::before {
			content: "";
			position: absolute;
			right: -11px;
			width: 4px;
			top: 0;
			bottom: 0;
			background-color: #eceefe;
		}

	.dashboard .activity .activity-item .activity-badge {
		margin-top: 3px;
		z-index: 1;
		font-size: 11px;
		line-height: 0;
		border-radius: 50%;
		flex-shrink: 0;
		border: 3px solid #fff;
		flex-grow: 0;
	}

	.dashboard .activity .activity-item .activity-content {
		padding-left: 10px;
		padding-bottom: 20px;
	}

	.card-title button {
		color: #899bbd;
		font-size: 14px;
		font-weight: 400;
		padding: 0;
	}

	.dashboard .card-icon {
		font-size: 32px;
		line-height: 0;
		width: 64px;
		height: 64px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.dashboard .hours-card .card-icon {
		color: #4154f1;
		background: #f6f6fe;
	}

	.dashboard .info-card h6 {
		font-size: 28px;
		color: #012970;
		font-weight: 700;
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 24px;
		margin-bottom: 0;
		font-weight: 600;
		color: #552159;
	}
</style>