@model IEnumerable<TomorrowsVoice_Toplevel.Models.Events.Director>

<form asp-action="Index" method="get">
	<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
	<input type="hidden" name="sortField" value="@ViewData["sortField"]" />

	<div class="form-horizontal my-3">
		<div class="row align-items-center">
			<h1 class="col m-0">Rehearsal</h1>
			<a asp-action="Create" class="btn btn-primary col-auto h-100"><i class="bi bi-person-plus-fill"></i> Add @ViewData["ControllerFriendlyName"]</a>
		</div>
	</div>

	<!-- Filter -->
	<partial name="_FilterStart" model="4" />
	<div class="form-group">
		<label class="control-label" for="SearchString">Director Name</label>
		@Html.TextBox("SearchString", null, new { @class = "form-control" })
	</div>
	<div class="form-group">
		<label class="control-label" for="ChapterID">Select by Chapter(s):</label>
		@Html.DropDownList("ChapterID", null, "All Chapters", htmlAttributes: new { @class = "form-select" })
	</div>
	<div class="form-group">
		<label class="control-label" for="StatusFilter">Status</label>
		@Html.DropDownList("StatusFilter", (SelectList)ViewBag.StatusList,
					"Any", htmlAttributes: new { @class = "form-select" })
	</div>
	<partial name="_FilterEnd" />

	<table class="table">
		<thead>
			<tr>
				<th aria-label="Director">
					<input type="submit" name="actionButton" value="Director" class="btn btn-link" />
				</th>
				<th class="d-none d-md-table-cell" aria-label="Email">
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th class="d-none d-sm-table-cell" aria-label="Phone">
					@Html.DisplayNameFor(model => model.PhoneFormatted)
				</th>
				<th aria-label="Chapter">
					<input type="submit" name="actionButton" value="Chapter" class="btn btn-link" />
				</th>
				<th aria-label="Actions"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NameFormatted)
					</td>
					<td class="d-none d-md-table-cell">
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td class="d-none d-sm-table-cell">
						<a href="tel:@item.PhoneFormatted">@item.PhoneFormatted</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Chapter.City.Name)
					</td>
					<td>
						@if (item.Status != Status.Archived)
						{
							<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-detail" id="crud"
							   role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
								<i class="bi bi-search"></i>
							</a>
							@if (User.IsInRole("Admin"))
							{
								<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-success"
								   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
									<i class="bi bi-pencil-square"></i>
								</a>
								<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger"
								   role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
									<i class="bi bi-x-lg"></i>
								</a>
							}
						}
						else
						{
							<partial name="_CrudIconsRecover" model="@item.ID" />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
	<partial name="_PagingNavBar" />
</form>