@model TomorrowsVoice_Toplevel.Models.ColourScheme

<div class="d-flex align-items-center">
    <h1 class="me-auto">@Model.Name</h1>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn h-100 btn-outline-success mx-3">
        <i class="bi bi-pencil-square"></i> Edit
    </a>
</div>
<div class="row g-2 my-3 justify-content-center">
    <hr />
    <dl class="row">
        <div class="col">
            <dt class="text-muted fw-normal m-0">
                @Html.DisplayNameFor(model => model.BackgroundColour)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BackgroundColour)
            </dd>
        </div>
        <div class="col">
            <dt class="text-muted fw-normal m-0">
                @Html.DisplayNameFor(model => model.TextColour)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TextColour)
            </dd>
        </div>
        <div class="col">
            <dt class="text-muted fw-normal m-0">
                @Html.DisplayNameFor(model => model.BorderColour)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BorderColour)
            </dd>
        </div>
    </dl>
    <partial name="_ContrastExample" model="@Model" />
</div>
<div>
    <a asp-action="Index">Back to Colour Scheme List</a>
</div>
