@model TomorrowsVoice_Toplevel.Models.Rehearsal

<partial name="_ViewHeading" />
<div>
    <h4>Rehearsal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RehearsalDate)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.RehearsalDate)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director.NameFormatted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.Name)
        </dd>
        <dt class="col-sm-2">
            Attendee(s)
        </dt>
        <dd class="col-sm-10">
            @{
                int singerCount = Model.RehearsalAttendances.Count;
                if (singerCount > 0)
                {
                    string firstSinger = Model.RehearsalAttendances.FirstOrDefault().Singer.NameFormatted;
                    if (singerCount > 1)
                    {
                        string SingerList = "";
                        var c = Model.RehearsalAttendances.ToList();
                        for (int i = 0; i < singerCount; i++)
                        {
                            SingerList += c[i].Singer.NameFormatted + " <br />";
                        }
                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseSingers@(Model.ID)"
                           aria-expanded="false" aria-controls="collapseSingers@(Model.ID)">
                            View all @singerCount attendees
                        </a>
                        <div class="collapse" id="collapseSingers@(Model.ID)">
                            @Html.Raw(SingerList)
                        </div>
                    }
                    else
                    {
                        @firstSinger
                    }
                }
                else
                {
                    <p>No attendees</p>
                }
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <partial name="_BackToList" />
    </form>
</div>
