@model IEnumerable<TomorrowsVoice_Toplevel.Models.Events.Rehearsal>

<div>
	<form asp-action="Index" method="get">
		<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
		<input type="hidden" name="sortField" value="@ViewData["sortField"]" />

		<div class="form-horizontal my-3">
			<div class="row align-items-center">
				<h1 class="col m-0">Rehearsal</h1>
				<a asp-action="Create" class="btn btn-primary col-auto h-100"><i class="bi bi-person-plus-fill"></i> Add @ViewData["ControllerFriendlyName"]</a>
			</div>
		</div>

		<!-- Filter -->
		<partial name="_FilterStart" model="4" />
		@if (!User.IsInRole("Director"))
		{
			<div class="form-group">
				<label class="control-label" for="DirectorID">Director:</label>
				@Html.DropDownList("DirectorID", null, "All Directors", htmlAttributes: new { @class = "form-control", id = "DirectorID" })
			</div>

			<div class="form-group">
				<label class="control-label" for="ChapterID">Chapter:</label>
				@Html.DropDownList("ChapterID", null, "All Chapters", htmlAttributes: new { @class = "form-control", id = "ChapterID" })
			</div>

			<div class="form-group">
				<label class="control-label" for="StatusFilter">Status:</label>
				@Html.DropDownList("StatusFilter", (SelectList)ViewBag.StatusSelectList, "All Status", htmlAttributes: new { @class = "form-control" })
			</div>
		}
		<div class="form-group">
			<label class="control-label" for="SearchString">Search Attendance Notes:</label>
			@Html.TextBox("SearchString", null, new { @class = "form-control", id = "SearchString" })
		</div>
		<div class="form-group col-6">
			<label class="control-label" for="StartDate">Start Date:</label>
			<input class="form-control" type="date" id="StartDate" name="StartDate" max="9999-12-12" value="@ViewData["StartDate"]" aria-invalid="false">
		</div>
		<div class="form-group col-6">
			<label class="control-label" for="EndDate">End Date:</label>
			<input class="form-control" type="date" id="EndDate" name="EndDate" max="9999-12-12" value="@ViewData["EndDate"]" aria-invalid="false">
		</div>
		@if (!User.IsInRole("Director"))
		{
			<div class=""></div>
		}
		<partial name="_FilterEnd" />

		<h5 style="margin-top: 10px">@ViewData["AptCount"] results between @ViewData["StartDate"] and @ViewData["EndDate"]</h5>
		<table class="table">
			<thead>
				<tr>
					<th aria-label="Date">
						<input type="submit" name="actionButton" value="Date" class="btn btn-link" />
					</th>
					@if (!User.IsInRole("Director"))
					{
						<th class="d-none d-lg-table-cell" aria-label="Director">Director</th>
					}
					<th aria-label="Chapter">Chapter</th>
					<th aria-label="Attendances Rate">Attendances Rate</th>
					<th class="d-none d-sm-table-cell" aria-label="Attendances">Attendances</th>
					<th aria-label="Status">Status</th>
					<th aria-label="Actions"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Summary)
						</td>
						@if (!User.IsInRole("Director"))
						{
							<td class="d-none d-lg-table-cell">
								@Html.DisplayFor(modelItem => item.Director.NameFormatted)
							</td>
						}
						<td>
							@Html.DisplayFor(modelItem => item.Chapter.City.Name)
						</td>
						<td>

							@{
								var exercises = item.RehearsalAttendances.ToList();
								int exerciseCount = exercises.Count;
								@Html.Raw(exerciseCount)
							} / @Html.DisplayFor(modelItem => item.TotalSingers)

						</td>
						<td class="d-none d-sm-table-cell">
							@{
								int singerCount = item.RehearsalAttendances.Count;
								if (singerCount > 0)
								{
									string firstSinger = item.RehearsalAttendances.FirstOrDefault().Singer.NameFormatted;
									if (singerCount > 1)
									{
										string SingerList = "";
										var c = item.RehearsalAttendances.ToList();
										for (int i = 0; i < singerCount; i++)
										{
											SingerList += c[i].Singer.NameFormatted + " <br />";
										}
										<a class="" role="button" data-bs-toggle="collapse" href="#collapseSingers@(item.ID)"
										   aria-expanded="false" aria-controls="collapseSingers@(item.ID)">
											View all @singerCount attendees
										</a>
										<div class="collapse" id="collapseSingers@(item.ID)">
											@Html.Raw(SingerList)
										</div>
									}
									else
									{
										@firstSinger
									}
								}
								else
								{
									<p>No Attendance Data</p>
								}
							}
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Status)
						</td>
						<td>
							@if (item.Status != Status.Archived)
							{
								<partial name="_CrudIcons" model="@item.ID" />
							}
							else
							{
								<partial name="_CrudIconsRecover" model="@item.ID" />
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
		<partial name="_PagingNavBar" />
	</form>
</div>
@section Scripts {
	<!--	<script type="text/javascript">
			$('.nav-link').click(function () {
				var activeTab = $(this).attr("id");
				switch (activeTab) {
					case 'Calendar-Tab': $('#CalendarPanel').load('/Rehearsal/RehearsalCalendar');
						break;
					default: break;
				};
			})
			</script>-->
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				themeSystem: 'bootstrap5',
				events: '/Rehearsal/GetRehearsals',
				eventDisplay: 'block',
				headerToolbar: {
					start: 'title',
					center: '',
					end: 'prev,next today'
				},
				navLinks: true,
				navLinkDayClick: function (date) { window.location.href = '/Rehearsal/SetRehearsal?date=' + date.toISOString().split('T')[0] }
			});
			calendar.render();
		});
	</script>
}