@model IEnumerable<TomorrowsVoice_Toplevel.Models.Rehearsal>

@{
	ViewData["Title"] = "Index";
}

<h1>Rehearsals</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

<div>
	<!-- Nav tabs -->
	<nav>
		<div class="nav nav-pills" id="myTabs" role="tablist">
			<button class="nav-link active" id="Basic-Tab" data-bs-toggle="tab" data-bs-target="#BasicPanel"
					type="button" role="tab" aria-controls="BasicPanel" aria-selected="true">
				List View
			</button>
			<button class="nav-link" id="Calendar-Tab" data-bs-toggle="tab" data-bs-target="#CalendarPanel"
					type="button" role="tab" aria-controls="CalendarPanel" aria-selected="false">
				Calendar View
			</button>
		</div>
	</nav>
	<!-- Tab panes -->
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" role="tabpanel" id="BasicPanel">
			<br />
<form asp-action="Index" method="get">
	<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
	<input type="hidden" name="sortField" value="@ViewData["sortField"]" />
	<div class="form-horizontal">
		<button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
			Filter/Search @ViewData["numberFilters"]
		</button><br />
		<div class="collapse" id="collapseFilter">
			<div class="card card-body bg-light">
				<div class="row">
					<div class="form-group col-md-4">
						<label class="control-label">Select by Director:</label>
									@Html.DropDownList("DirectorID", null, "All Directors", htmlAttributes: new { @class = "form-control" })
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Search Attendance Notes:</label>
									@Html.TextBox("SearchString", null, new { @class = "form-control" })
					</div>
					<div class="form-group col-md-4 align-self-end">
						<input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
						<a asp-action="Index" class="btn btn-outline-dark">Clear</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					<input type="submit" name="actionButton" value="Date" class="btn btn-link" />
				</th>
				<th>
					<input type="submit" value="Time" class="btn btn-toolbar" />
				</th>
				<th>
					<input type="submit" value="Note" class="btn btn-toolbar" />
				</th>
				<th>
					<input type="submit" value="Director" class="btn btn-toolbar" />
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
						@foreach (var item in Model)
						{
															<tr>
																<td>
									@Html.DisplayFor(modelItem => item.RehearsalDate)
																</td>
																<td>
									@Html.DisplayFor(modelItem => item.TimeSummary)
																</td>
																<td class="d-none d-xl-table-cell">
									@{
										if (item.Note != null)
										{
											string[] noteWords = item.Note.Split(' ');
											if (noteWords.Count() > 4)
											{
																																																				<a class="" role="button" data-bs-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
													@(string.Join(" ", noteWords.Take(4)) + "...")
																																																				</a>
																																																				<div class="collapse" id="collapseSum@(item.ID)">
																																																					<div class="well">
														@(string.Join(" ", noteWords.Skip(4)))
																																																					</div>
																																																				</div>
											}
											else
											{
												@item.Note
											}
										}
									}
																</td>
																<td>
									@Html.DisplayFor(modelItem => item.Director.NameFormatted)
																</td>
																<td>
																	<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
																	<a asp-action="Details" asp-route-id="@item.ID">Details</a> |
																	<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
																</td>
															</tr>
						}
		</tbody>
	</table>
	<partial name="_PagingNavBar" />
</form>
</div>
<div class="tab-pane fade ml-3" role="tabpanel" id="CalendarPanel" aria-labelledby="Calendar-tab">
	<br />
			<partial name="_RehearsalCalendar" />
		</div>
</div>
	@section Scripts {
								<!--	<script type="text/javascript">
										$('.nav-link').click(function () {
											var activeTab = $(this).attr("id");
											switch (activeTab) {
												case 'Calendar-Tab': $('#CalendarPanel').load('/Rehearsal/RehearsalCalendar');
													break;
												default: break;
											};
										})
										</script>-->
										<script>
										document.addEventListener('DOMContentLoaded', function () {
											var calendarEl = document.getElementById('calendar');
											var calendar = new FullCalendar.Calendar(calendarEl, {
												initialView: 'dayGridMonth',
													themeSystem: 'bootstrap5',
												events: '/Rehearsal/GetRehearsals',
													eventDisplay: 'block'
											});//#8f3796
											calendar.render();
										});
									</script>
	}