@model TomorrowsVoice_Toplevel.Models.Volunteering.Event

<partial name="_ViewHeading" />
<form asp-action="Edit" class="form-container" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="ID" />
	<input type="hidden" id="shiftsJson" name="Shifts" />
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row g-2 my-3 form-area justify-content-md-center" style="margin-top: 0px !important;">
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="StartDate" max="9999-12-12" class="form-control" id="startDate" onchange="rangeCheck()" />
				<label asp-for="StartDate" class="control-label"></label>
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="EndDate" id="endDate" class="form-control" max="9999-12-12" onchange="rangeCheck()" />
				<label asp-for="EndDate" class="control-label"></label>
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>
		</div>
		<div class="w-100" style="margin:10px;"></div>
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="Name" class="form-control" placeholder="Name" />
				<label asp-for="Name" class="control-label"></label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating required">
				@Html.DropDownList("BackgroundColour", null, new { @class = "bg-select form-select" })
				<label asp-for="BackgroundColour" class="control-label"></label>
				<span asp-validation-for="BackgroundColour" class="text-danger"></span>
			</div>
		</div>
		<div class="w-100" style="margin:0px;"></div>
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="Location" class="form-control" placeholder="Address" />
				<label asp-for="Location" class="control-label"></label>
				<span asp-validation-for="Location" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating required">
				@Html.DropDownList("CityEvents", null, new { @class = "city-select form-select", @multiple = "" })
				<label asp-for="CityEvents" class="control-label">Cities</label>
				<span asp-validation-for="CityEvents" class="text-danger"></span>
			</div>
		</div>

		@* <div class="w-100" style="margin:0px;"></div>
		<div class="col-md-6">
		<div class="row">
		<div class="form-group col-md">
		<label class="control-label"> City Enrolled</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
		<strong>-</strong>
		</button>
		@Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
		</div>
		<div class="form-group col-md">
		<label class="control-label"> Choose City</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
		<strong>+</strong>
		</button>
		@Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
		</div>
		</div>
		</div> *@

		<div class="w-100" style="margin:0px;"></div>
		<div class="col-md-8">
			<div class="form-floating my-4">
				<textarea asp-for="Descripion" class="form-control" style="height: 100px" placeholder="Notes"></textarea>
				<label asp-for="Descripion" class="control-label"></label>
				<span asp-validation-for="Descripion" class="text-danger"></span>
			</div>
		</div>
		<div class="w-100" style="margin:0px;"></div>
		<div class="col-md-8">
			<div id='timetable' style="height: 100%; width: 100%;"></div>
		</div>
		<div id="tooltip" class="row g-2">My tooltip</div>
	</div>
	<partial name="_FormFooter" />
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script src="~/js/multiselect.js"></script>
	<script type="text/javascript">
		var id = @ViewBag.ID;
	</script>
	<script src="~/js/shiftTimeTable.js" type="module"></script>
	<script type="text/javascript">
		function formatColours(colour) {
			if (!colour.id) {
				return colour.text;
			}
			var $colour = $(`<span><span class="dot form-check-input ` + colour.text.replace(/\s+/g, '').toLowerCase() + `"></span> ` + colour.text + `</span>`);
			return $colour;
		};

		$(document).ready(function () {
			$('.bg-select').select2({
				templateResult: formatColours,
				minimumResultsForSearch: Infinity,
				theme: "bootstrap-5"
			});
			$('.city-select').select2({
				theme: "bootstrap-5"
			});
			$('.bg-select')
				.parent('div')
				.children('span')
				.children('span')
				.children('span')
				.css('height', ' calc(3.5rem + 2px)');
			$('.bg-select')
				.parent('div')
				.children('span')
				.children('span')
				.children('span')
				.children('span')
				.css('margin-top', '18px');
			$('.bg-select')
				.parent('div')
				.find('label')
				.css('z-index', '1');
			// $('.select2-container').addClass('form-control');
		});

		function rangeCheck() {
			calendar.setOption('validRange', {
				start: document.getElementById('startDate').value,
				end: document.getElementById('endDate').value
			});
		}

		$("form").submit(function (event) {
			document.getElementById('shiftsJson').value = JSON.stringify(calendar.getEvents());
			var startDate = $("#startDate").val();
			var endDate = $("#endDate").val();

			var startDateObj = new Date(startDate);
			var endDateObj = new Date(endDate);

			if (startDateObj > endDateObj) {

				event.preventDefault();

				alert("Start Date cannot be greater than End Date.");
			}
		});
	</script>

	<script type="text/javascript">
		function fillFields() {
			$.ajax({
				url: '@Url.Action("GetEventData", "Event")',
				type: 'GET',
				success: function (data) {
					document.getElementById('startDate').value = "2025-11-30"
					document.getElementById('endDate').value = "2025-12-22";
					document.getElementById('Name').value = "Sas Gift Wrapping - 2025";
					document.getElementById('Location').value = "Midtown, Saskatoon";
					document.getElementById('Descripion').value = "Test";
					document.getElementById('availOptions').value = 4;
				}
			})
			calendar.setOption('validRange', {
				start: "2025-11-30",
				end: "2025-12-22"
			});

		}
	</script>
}
<style>
	.select2-selection--multiple {
		max-height: calc(3.5rem + (1rem + 2px));
		overflow: scroll !important;
	}

	.select2-selection--single {
		border: 1px solid #ced4da !important;
	}

	.select2-container--focus {
		box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #8f3796 !important;
	}

	#tooltip {
		width: 30%;
		position: absolute;
		top: 0;
		left: 0;
		background: #fcfcfc;
		color: black;
		font-weight: bold;
		padding: 5px;
		border-radius: 4px;
		font-size: 90%;
		z-index: 1000 !important;
		display: none;
	}
</style>