@model IEnumerable<TomorrowsVoice_Toplevel.Models.Volunteering.Event>
@{

	Layout = "~/Views/Shared/_EventAdminLayout.cshtml";

}
<form asp-action="Index" method="get">
	<div class="form-horizontal my-3">
		<div class="row align-items-center">
			<h1 class="col m-0">Events</h1>
			<a asp-action="Create" class="btn btn-primary col-auto h-100" style="float: right;"></i> Add @ViewData["ControllerFriendlyName"]</a>
		</div>
	</div>
	<button class="btn col-auto h-100 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
			data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
		<i class="bi bi-filter"></i> Filter @ViewData["numberFilters"]
	</button>
	<br />
	<div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
		<div class="card d-inline-flex w-100 align-items-end bg-light" style="flex-direction:row !important;">
			<div class="p-2">
				<strong><label class="control-label" for="SearchString">Event Name</label></strong>
				@Html.TextBox("SearchString", null, new { @class = "form-control" })
			</div>
			<div class="p-2">
				<label class="control-label" for="FilterStartDate">Start Date:</label>
				<input class="form-control" type="date" id="FilterStartDate" name="FilterStartDate" max="9999-12-12" value="@ViewData["StartDate"]" aria-invalid="false">
			</div>
			<div class="p-2">
				<label class="control-label" for="FilterEndDate">End Date:</label>
				<input class="form-control" type="date" id="FilterEndDate" name="FilterEndDate" max="9999-12-12" value="@ViewData["EndDate"]" aria-invalid="false">
			</div>
			<div class="p-2">
				<label class="control-label" for="CityID">Select by City:</label>
				@Html.DropDownList("CityID", null, "All Cities", htmlAttributes: new { @class = "form-control", id = "CityID" })
			</div>
			<div class="p-2">
				<strong><label class="control-label" for="StatusFilter">Status</label></strong>
				@Html.DropDownList("StatusFilter", (SelectList)ViewBag.StatusList,
									"Any", htmlAttributes: new { @class = "form-control" })
			</div>
			<div class="p-2 ms-auto">
				<button type="submit" name="actionButton" value="Apply" class="btn btn-outline-primary">
					<i class=" bi bi-funnel-fill"></i>Apply
				</button>
			</div>
			<div class="p-2">
				<a asp-action="Index" class="btn btn-outline-dark"><i class="bi bi-eraser-fill"></i> Clear</a>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-12 mb-3">
				<div class="card" style="border-bottom-color: @item.BackgroundColour; border-bottom-width:thick;">
					@*         <div class="card-header"> *@
					<button class="card-header btn btn-link" style="text-align:left; border-bottom-color: @item.BackgroundColour; border-bottom-width:thick;" type="button" data-bs-toggle="collapse" data-bs-target="#c-@item.ID" aria-expanded="false" aria-controls="c-@item.ID">
						<h2 class="m-0">
							@item.Name
						</h2>
						<p class="m-0">
							<i class="bi bi-calendar"></i>
							@item.DateSummary
						</p>
						<p class="m-0">
							<i class="bi bi-geo-alt"></i>
							@item.Location
						</p>
					</button>
					@*    </div> *@
					<div class="collapse" id="c-@item.ID">
						<div class="card-body">
							<div class="row">
								<div class="col-md-10">
									@item.Descripion
								</div>
								<div class="col-md-2">
									@if (item.Status != Status.Closed)
									{
										<a asp-controller="Shift" asp-action="Index" asp-route-EventID="@item.ID" class="btn btn-sm btn-outline-detail" id="crud"
										   role="button" data-bs-toggle="tooltip" title="Details">
											<i class="bi bi-search"></i>
										</a>
										<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-success"
										   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
											<i class="bi bi-pencil-square"></i>
										</a>
										<a asp-action="Close" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger"
										   role="button" data-bs-toggle="tooltip" title="Close @ViewData["ControllerFriendlyName"]">
											<i class="bi bi-x-lg"></i>
										</a>
									}
									else
									{
										<a asp-controller="Shift" asp-action="Index" asp-route-id="@item.ID" class="btn btn-sm btn-outline-detail" id="crud"
										   role="button" data-bs-toggle="tooltip" Details">
											<i class="bi bi-search"></i>
										</a>

										<a asp-action="Recover" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger"
										   role="button" data-bs-toggle="tooltip" title="Recover @ViewData["ControllerFriendlyName"]">
											<i class="bi bi-arrow-clockwise"></i>
										</a>
										<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger"
										   role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
											<i class="bi bi-x-lg"></i>
										</a>
									}
								</div>
							</div>
							@{
								string parentID = $"{item.ID}-accordion";
							}
							<div class="accordion" id="@parentID">
								@foreach (var date in item.Shifts.GroupBy(s => s.ShiftDate))
								{
									string dateFormat;
									if (date.Key.Year == item.StartDate.Year)
										dateFormat = date.Key.ToString("MMMM d");
									else
										dateFormat = date.Key.ToString("MMMM d, yyyy");
									string dateID = $"i{item.ID}h{date.Key.ToShortDateString()}";
									string cShifts = $"i{item.ID}s{date.Key.ToShortDateString()}";
									<div class="card">
										<div class="card-header" id="@dateID">
											<h5 class="mb-0">
												<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#@cShifts" aria-expanded="true" aria-controls="@cShifts">
													@dateFormat
												</button>
											</h5>
										</div>

										<div id="@cShifts" class="collapse" aria-labelledby="@dateID" data-parent="#@parentID">
											@foreach (var shift in date.OrderBy(s => s.StartAt).Where(s => s.Status == Status.Active))
											{

												string title = shift.Title ?? "(no title)";
												<div class="row bd-callout" style="border-left-color: @shift.BackgroundColor;">
													<div class="position-relative row col-11">
													<div class="col">
														@shift.TimeFormat
													</div>
													<div class="col">
														@title
													</div>
													<div class="col">
														<small>Signed Up: @shift.UserShifts.Count() / @shift.VolunteersNeeded</small>
													</div>
														<a asp-action="Details" class="stretched-link" asp-route-id="@shift.ID" asp-controller="Shift"></a>
													</div>
													<div class="col">
														<a asp-action="Edit" asp-controller="Shift" asp-route-id="@shift.ID" class="btn btn-sm btn-outline-success"
														   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
															<i class="bi bi-pencil-square"></i>
														</a>
														<a asp-action="Delete" asp-controller="Shift" asp-route-id="@shift.ID" class="btn btn-sm btn-outline-danger"
														   role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
															<i class="bi bi-x-lg"></i>
														</a>
													</div>
													
												</div>

											}
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
	<partial name="_PagingNavBar" />
</form>