@model IEnumerable<TomorrowsVoice_Toplevel.Models.Volunteering.Event>

<form asp-action="Index" method="get">
	<div class="form-horizontal my-3">
		<div class="row align-items-center">
			<div class="col-auto">
				<h1 class="col m-0">Events</h1>
				<span class="text-muted">View events and click a shift to join!</span>
			</div>
			@if (User.IsInRole("Planner") || User.IsInRole("Admin"))
			{
				<a asp-action="Create" class="btn btn-primary col-auto h-100 ms-auto" style="float: right;">Add @ViewData["ControllerFriendlyName"]</a>
			}
		</div>
	</div>
	<button class="btn col-auto h-100 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
			data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
		<i class="bi bi-filter"></i> Filter @ViewData["numberFilters"]
	</button>
	<br />
	<div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
		<div class="card d-inline-flex w-100 align-items-end bg-light" style="flex-direction:row !important;">
			<div class="p-2">
				<strong><label class="control-label" for="SearchString">Event Name</label></strong>
				@Html.TextBox("SearchString", null, new { @class = "form-control" })
			</div>
			<div class="p-2">
				<label class="control-label" for="FilterStartDate">Start Date:</label>
				<input class="form-control" type="date" id="FilterStartDate" name="FilterStartDate" max="9999-12-12" value="@ViewData["StartDate"]" aria-invalid="false">
			</div>
			<div class="p-2">
				<label class="control-label" for="FilterEndDate">End Date:</label>
				<input class="form-control" type="date" id="FilterEndDate" name="FilterEndDate" max="9999-12-12" value="@ViewData["EndDate"]" aria-invalid="false">
			</div>
			<div class="p-2">
				<label class="control-label" for="CityEvents">Select by City:</label>
				@Html.DropDownList("CityEvents", null, "All Cities", htmlAttributes: new { @class = "form-control", id = "CityEvents" })
			</div>
			<div class="p-2">
				<strong><label class="control-label" for="StatusFilter">Status</label></strong>
				@Html.DropDownList("StatusFilter", (SelectList)ViewBag.StatusList,
									"Any", htmlAttributes: new { @class = "form-control" })
			</div>
			<div class="p-2 ms-auto">
				<button type="submit" name="actionButton" value="Apply" class="btn btn-outline-primary">
					<i class=" bi bi-funnel-fill"></i>Apply
				</button>
			</div>
			<div class="p-2">
				<a asp-action="Index" class="btn btn-outline-dark"><i class="bi bi-eraser-fill"></i> Clear</a>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-12 mb-3">
				<div class="card" style="border-bottom-color: @item.Colour.BackgroundColour; border-bottom-width:thick;">
					@*         <div class="card-header"> *@
					<button class="card-header btn btn-link" style="text-align:left; border-bottom-color: @item.Colour.BackgroundColour; border-bottom-width:thick;" type="button" data-bs-toggle="collapse" data-bs-target="#c-@item.ID" aria-expanded="false" aria-controls="c-@item.ID">
						<h2 class="m-0">
							@item.Name
						</h2>
						<p class="m-0">
							<i class="bi bi-calendar"></i>
							@item.DateSummary
						</p>
						<p class="m-0">
							<i class="bi bi-geo-alt"></i>
							@item.Location
						</p>
					</button>
					@*    </div> *@
					<div class="collapse" id="c-@item.ID">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-md-10">
									@item.Descripion
								</div>
								<div class="col-md-2 d-flex justify-content-evenly">
									@if (item.Status != Status.Closed)
									{
										@if (User.IsInRole("Admin") || User.IsInRole("Planner") || User.IsInRole("Volunteer"))
										{
											<a asp-controller="Shift" asp-action="Index" asp-route-EventID="@item.ID" class="btn btn-sm btn-outline-detail" id="crud"
											   role="button" data-bs-toggle="tooltip" title="Details">
												<i class="bi bi-search"></i>
											</a>
										}
										@if (User.IsInRole("Admin") || User.IsInRole("Planner"))
										{
											<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-success"
											   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
												<i class="bi bi-pencil-square"></i>
											</a>
										}
										@if (User.IsInRole("Admin") || User.IsInRole("Planner"))
										{
											<a asp-action="Close" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger"
											   role="button" data-bs-toggle="tooltip" title="Close @ViewData["ControllerFriendlyName"]">
												<i class="bi bi-stop-circle"></i>
											</a>
											<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger"
											   role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
												<i class="bi bi-x-lg"></i>
											</a>
										}
									}
									else
									{
										@if (User.IsInRole("Admin") || User.IsInRole("Planner"))
										{
											<a asp-controller="Shift" asp-action="Index" asp-route-EventID="@item.ID" class="btn btn-sm btn-outline-detail" id="crud"
											   role="button" data-bs-toggle="tooltip" title="Details">
												<i class="bi bi-search"></i>
											</a>
											if (item.EndDate > DateTime.Now)
											{
												<a asp-action="Recover" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger"
												   role="button" data-bs-toggle="tooltip" title="Recover @ViewData["ControllerFriendlyName"]">
													<i class="bi bi-arrow-clockwise"></i>
												</a>
											}
											<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger"
											   role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
												<i class="bi bi-x-lg"></i>
											</a>
										}
									}
								</div>
							</div>
							@{
								string parentID = $"{item.ID}-accordion";
							}
							<div class="accordion" id="@parentID">
								@foreach (var date in item.Shifts.GroupBy(s => s.ShiftDate))
								{
									string dateFormat;
									if (date.Key.Year == item.StartDate.Year)
										dateFormat = date.Key.ToString("MMMM d");
									else
										dateFormat = date.Key.ToString("MMMM d, yyyy");
									string dateID = $"i{item.ID}h{date.Key.ToString("yyyy-MM-dd")}";
									string cShifts = $"i{item.ID}s{date.Key.ToString("yyyy-MM-dd")}";
									<div class="my-2">
										<a class="btn btn-outline-secondary w-100 text-start" data-bs-toggle="collapse" href="#@dateID" role="button" aria-expanded="false"
										   style="border-color: @item.Colour.BorderColour; background-color: whitesmoke; color: black;">
											@dateFormat
											<br />
											<span class="fst-italic fw-normal">@date.Sum(d => d.VolunteersLeft) Open</span>
										</a>

										<div id="@dateID" class="collapse" data-parent="#@parentID">
											<ol class="list-group">
												@foreach (var shift in date.OrderBy(s => s.StartAt).Where(s => s.Status == Status.Active))
												{
													string title = shift.Title ?? "(no title)";
													<li class="list-group-item d-flex row g-0 bd-callout align-items-center" style="border-left-color: @shift.Colour.BackgroundColour;">
														<div class="col-2">
															@shift.TimeFormat
														</div>
														<div class="col-4 @(shift.Title == null ? " text-muted" : "")">
															@title
														</div>
														<div class="col-2 fw-bold">
															@shift.VolunteersLeft Needed
														</div>
														@if (!User.IsInRole("Admin"))
														{
															<div class="col-2">
																@if (shift.VolunteersLeft == 0)
																{
																	<div class="badge bg-danger mb-2 w-100 fs-6">Full</div>
																}
																else
																{
																	<a data-bs-toggle="modal" data-bs-target="#joinShiftModal-@shift.ID" class="btn btn-success w-100"
																	   title="Click to Volunteer: @($"{shift.Title ?? item.Name} - {shift.TimeSummary}")">
																		Volunteer
																	</a>
																}
															</div>
														}
														@if (User.IsInRole("Admin") || User.IsInRole("Planner"))
														{
															<div class="col d-flex justify-content-evenly">
																<a asp-action="Edit" asp-controller="Shift" asp-route-id="@shift.ID" class="btn btn-sm btn-outline-success"
																   role="button" data-bs-toggle="tooltip" title="Edit shift">
																	<i class="bi bi-pencil-square"></i>
																</a>
																<a asp-action="Delete" asp-controller="Shift" asp-route-id="@shift.ID" class="btn btn-sm btn-outline-danger"
																   role="button" data-bs-toggle="tooltip" title="Delete shift">
																	<i class="bi bi-x-lg"></i>
																</a>
															</div>
														}
													</li>
													@await Html.PartialAsync("_JoinShiftModal", shift)
												}
											</ol>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		}
		<partial name="_PagingNavBar" />
	</div>

</form>