@model TomorrowsVoice_Toplevel.Models.Singer

<partial name="_ViewHeading" />

<hr />
<div>
	<dl class="row">
		<div class="col-md-2">
			<dt>
				<label asp-for="NameFormatted" class="control-label" aria-labelledby="lblName"></label>
				<span id="lblName" class="visually-hidden">Name:</span>
			</dt>
			<dd>@Html.DisplayFor(model => model.NameFormatted)</dd>
		</div>
		<div class="col-md-2">
			<dt>
				<label asp-for="Email" class="control-label" aria-labelledby="lblEmail"></label>
				<span id="lblEmail" class="visually-hidden">Guardian Email:</span>
			</dt>
			<dd>@Html.DisplayFor(model => model.Email)</dd>
		</div>
		<div class="col-md-8">
			<dt>
				<label asp-for="EmergencySummary" class="control-label" aria-labelledby="lblEmergency"></label>
				<span id="lblEmergency" class="visually-hidden">Emergency Contact Info:</span>
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ContactName)
				@Html.DisplayFor(model => model.PhoneFormatted)
			</dd>
		</div>
	</dl>
	<dl class="row">
		<div class="col-md-2">
			<dt>
				<label asp-for="ChapterID" class="control-label" aria-labelledby="lblChapter"></label>
				<span id="lblChapter" class="visually-hidden">Chapter:</span>
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Chapter.Name)
			</dd>
		</div>
		<div class="col-md-2">
			<dt>
				<label asp-for="IsActive" class="control-label" aria-labelledby="lblActive"></label>
				<span id="lblActive" class="visually-hidden">Is Singer Active?:</span>
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IsActive)
			</dd>
		</div>
	</dl>
	<dl class="row">
		<div class="col-md-8">
			<dt>
				<label asp-for="Note" class="control-label" aria-labelledby="lblNote"></label>
				<span id="lblNote" class="visually-hidden">Notes:</span>
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Note)
			</dd>
		</div>
	</dl>
	<hr />
	<dl>
		<dt class="col-md-2">
			Recent Rehearsals
		</dt>
		<dd class="col-md-10">
			<table class="table">
				<thead>
					<tr>
						<th>
							Date
						</th>
						<th>
							Chapter
						</th>
						<th>
							Director
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.RehearsalAttendances.OrderByDescending(ra => ra.Rehearsal.RehearsalDate).Take(5))
					{
						<tr>
							<td>
								<a asp-controller="Rehearsal" asp-action="Details"
								   asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Rehearsal.Summary)</a>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Rehearsal.Director.Chapter.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Rehearsal.Director.NameFormatted)
							</td>
						</tr>
					}
				</tbody>
			</table>
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>