@model IEnumerable<TomorrowsVoice_Toplevel.Models.Singer>

<partial name="_ViewHeading" />

<p>
	<a asp-action="Create">Create New @ViewData["ControllerFriendlyName"]</a>
</p>

<form asp-action="Index" method="get">
	<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
	<input type="hidden" name="sortField" value="@ViewData["sortField"]" />
	<div class="form-horizontal">
		<button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
				data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
			Filter/Search @ViewData["numberFilters"]
		</button><br />
		<div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
			<div class="card card-body bg-light">
				<div class="row g-3">
					<div class="form-group col-md-4">
						<label class="control-label">Select by Chapter(s):</label>
						@Html.DropDownList("ChapterID", null, new { @class = "select2 form-control", multiple = "multiple" })
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Search Singer Name:</label>
						@Html.TextBox("SearchString", null, new { @class = "form-control" })
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Status:</label>
						<select class="form-control">
							<option>
								Active
							</option>
							<option>
								Inactive
							</option>
						</select>
					</div>

					<div class="form-group col-md-2 align-self-end">
						<input type="submit" name="actionButton" value="Filter"
							   class="btn btn-outline-primary" />
						<a asp-action="Index" class="btn btn-outline-dark">Clear</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>
					<input type="submit" name="actionButton" value="Singer" class="btn btn-link" />
				</th>
				<th class="d-none d-md-table-cell">
					<input type="submit" name="actionButton" value="Chapter" class="btn btn-link" />
				</th>
				<th class="d-none d-xxl-table-cell">
					<input type="submit" value="Notes" class="btn btn-toolbar" />
				</th>
				<th class="d-none d-lg-table-cell">
					<input type="submit" value="Email" class="btn btn-toolbar" />
				</th>
				<th colspan="2" style="border-left: solid 1px;">
					<input type="submit" value="Emergency Contact" class="btn btn-toolbar" />
				</th>
				<th aria-label="Actions"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NameFormatted)
					</td>
					<td class="d-none d-md-table-cell">
						@Html.DisplayFor(modelItem => item.Chapter.Name)
					</td>
					<td class="d-none d-xxl-table-cell" style="width: 240px;">
						@{
							if (item.Note != null)
							{
								string[] noteWords = item.Note.Split(' ');
								if (noteWords.Count() > 4)
								{
									<a class="" role="button" data-bs-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
										View Notes
									</a>
									<div class="collapse" id="collapseSum@(item.ID)">
										<div class="well">
											@Html.Raw(item.Note)
										</div>
									</div>
								}
								else
								{
									@item.Note
								}
							}
							else
							{
								<p>No Notes</p>
							}
						}
					</td>
					<td class="d-none d-lg-table-cell">
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td style="border-left: solid 1px;">
						@Html.DisplayFor(modelItem => item.ContactName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhoneFormatted)
					</td>
					<td>
						<partial name="_CrudIcons" model="@item.ID" />
					</td>
				</tr>
			}
		</tbody>
	</table>
	<partial name="_PagingNavBar" />
</form>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('.select2').select2({
				theme: 'bootstrap-5'
			});
		});
	</script>
}