@model IEnumerable<TomorrowsVoice_Toplevel.Models.Events.Singer>

<form asp-action="Index" method="get">
	<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
	<input type="hidden" name="sortField" value="@ViewData["sortField"]" />

	<div class="form-horizontal my-3">
		<div class="row align-items-center">
			<h1 class="col m-0">Singers</h1>
			<a asp-action="Create" class="btn btn-primary col-auto h-100"><i class="bi bi-person-plus-fill"></i> Add @ViewData["ControllerFriendlyName"]</a>
		</div>
	</div>

	<!-- Filter -->
	<partial name="_FilterStart" model="@(User.IsInRole("Director") == true ? 3 : 4)" />
	<div class="form-group">
		<label class="control-label" for="SearchString">Singer Name</label>
		@Html.TextBox("SearchString", null, new { @class = "form-control" })
	</div>
	@if(!User.IsInRole("Director"))
	{
	<div class="form-group">
		<label class="control-label" for="ChapterID">Select by Chapter(s):</label>
		@Html.DropDownList("ChapterID", null, "All Chapters", htmlAttributes: new { @class = "form-select" })
	</div>
	}
	<div class="form-group">
		<label class="control-label" for="StatusFilter">Status</label>
		@Html.DropDownList("StatusFilter", (SelectList)ViewBag.StatusList,
					"Any", htmlAttributes: new { @class = "form-select" })
	</div>
	<partial name="_FilterEnd" />

	<div class="table-responsive d-none d-lg-block">
	<table class="table my-2">
		<thead>
			<tr>
				<th aria-label="Singer">
					<input type="submit" name="actionButton" value="Singer" class="btn btn-link" />
					<i class="sort-icon @ViewData["singerSort"]" />
				</th>
				<th aria-label="Chapter" class="d-none d-md-table-cell">
					<input type="submit" name="actionButton" value="Chapter" class="btn btn-link" />
					<i class="sort-icon @ViewData["chapterSort"]" />
				</th>
				<th style="border-left: solid 1px;" aria-label="Emergency Contact">Emergency Contact</th>
				<th class="d-none d-lg-table-cell" aria-label="Email">Email</th>
				<th class="" aria-label="Phone">Phone</th>
				<th aria-label="Actions"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NameFormatted)
					</td>
					<td class="d-none d-md-table-cell">
						@Html.DisplayFor(modelItem => item.Chapter.City.Name)
					</td>
					<td style="border-left: solid 1px;">
						@Html.DisplayFor(modelItem => item.ContactName)
					</td>
					<td class="d-none d-lg-table-cell">
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						<a href="tel:@item.PhoneFormatted">@item.PhoneFormatted</a>
					</td>
					<td>
						@if (item.Status != Status.Archived)
						{
							<partial name="_CrudIcons" model="@item.ID" />
						}
						else
						{
							<partial name="_CrudIconsRecover" model="@item.ID" />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
	</div>
	<div class="d-lg-none mt-3 mt-lg-0">
		@foreach (var item in Model)
		{
			<partial name="_IndexSm" model="item" />
		}
	</div>
	<partial name="_PagingNavBar" />
</form>

@section Scripts {

}